
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #example .form-control {
        width: 60px;
        padding: 0;
    }

    #real.UOM form-control {
        width: 60px;
        padding: 0;
    }

    .rdonly {
        pointer-events: none;
    }
</style>
<input type="hidden" id="ID" name="ID" />

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new
                        {
                            @id = "form0",
                            onSubmit = "return false"
                        }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="content-header" style="padding:1px">
                                    <h4>Customer Quotation</h4>
                                </div>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="modal-body">
                                <input type="hidden" id="ID" name="ID" value="0">
                                <input type="hidden" id="Count" name="Count" value="111">
                                
                                <div class="row" id="rd">

                                    <div class="col-md-2 col-12">Quotation Name</div>
                                    <div class="col-md-2 col-12">
                                        @Html.Editor("QuotationName", new { htmlAttributes = new { @class = "form-control", Autocomplete = "off", data_bv_notempty = "true", data_bv_notempty_message = "Quotation Name is required and cannot be empty", required = "required", onchange = "CheckDuplicateQuotationName()" } })
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <lable>Enter Date</lable>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <input type="text" class="form-control" id="mydate">
                                    </div>
                                </div>

                                <br />
                                <hr />
                                <div class="row">

                                    <div class="col-md-12">
                                        <br />

                                        <div class="table-responsive">
                                            <div style="overflow: scroll">
                                                <table id="example" class="table table-striped table-bordered dt-responsive" style="white-space:nowrap">
                                                    <thead style="background-color: #d8e9c1;font-size:12px">
                                                        <tr class="text-uppercase">
                                                            <td><strong> Product Category</strong></td>
                                                            <th>Product</th>
                                                            <th>UOM</th>

                                                            <th>WT From 1</th>
                                                            <th>WT To 1</th>
                                                            <th>Rate 1</th>
                                                            <th>WT From 2</th>
                                                            <th>WT To 2</th>
                                                            <th>Rate 2</th>
                                                            <th>WT From 3</th>
                                                            <th>WT To 3</th>
                                                            <th>Rate 3</th>
                                                            <th>Add Wt</th>
                                                            <th>Add Rate</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> @Html.DropDownList("ProductType", new SelectList(ViewBag.ProductTypes, "ID", "Type"), "Select", new { @class = "form-control", onchange = "getproducts()", style = "width:150px" })   </td>
                                                            <td> <select id="product" name="product" class="form-control" style="width:150px" onchange="CalculateWeight()"><option value="">Select</option></select></td>
                                                            <td>
                                                                <select id="UOM" name="UOM" class="form-control" style="width:150px">
                                                                    <option value="">Select UOM</option>
                                                                    <option value="KG">KG</option>
                                                                    <option value="BOX">BOX</option>
                                                                    <option value="PCS">PCS</option>
                                                                </select>
                                                            </td>


                                                            <td><input type="text" id="WTFrom1" name="WTFrom1" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="WTTo1" name="WTTo1" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="Rate1" name="Rate1" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>

                                                            <td><input type="text" id="WTFrom2" name="WTFrom2" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="WTTo2" name="WTTo2" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="Rate2" name="Rate2" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>

                                                            <td><input type="text" id="WTFrom3" name="WTFrom3" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="WTTo3" name="WTTo3" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="Rate3" name="Rate3" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>

                                                            <td><input type="text" id="AddWt" name="AddWt" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>
                                                            <td><input type="text" id="AddRate" name="AddRate" class="form-control" onkeypress="return event.charCode >= 46 && event.charCode <= 57 && event.charCode!=47" /></td>


                                                            <td><button type="button" class="btn btn-primary" onclick="btnadd()">Add+</button> <input type="hidden" id="DetailsID" value="0" /></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        @*<button type="button" class="btn btn-success" onclick="Save()"> Save </button>*@
                                    </div>


                                    <div class="col-md-12">
                                        <br />
                                        <div class="table-responsive">
                                            <div style="overflow: scroll">
                                                <table id="real" class="table table-striped table-bordered dt-responsive" style="white-space:nowrap;font-size:12px">
                                                    <thead style="background-color: #d8e9c1">
                                                        <tr class="text-uppercase">
                                                            <td><strong> Product Category</strong></td>
                                                            <th>Product</th>
                                                            <th>UOM</th>
                                                            <th>WT From 1</th>
                                                            <th>WT To 1</th>
                                                            <th>Rate 1</th>
                                                            <th>WT From 2</th>
                                                            <th>WT To 2</th>
                                                            <th>Rate 2</th>
                                                            <th>WT From 3</th>
                                                            <th>WT To 3</th>
                                                            <th>Rate 3</th>
                                                            <th>Add Wt</th>
                                                            <th>Add Rate</th>

                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success" onclick="Save()"> Save </button>
                                        <a href="@Url.Action("Index", "QuotationMain")" class="btn btn-primary"> Back to List </a>
                                        @*<button type="button" class="btn btn-outline-danger" onclick="Clear()"> Clear </button>*@
                                    </div>

                                </div>


                                <br />

                            </div>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script src="~/Scripts/jquery.preloaders.js"></script>


<script>

    $(document).ready(function () {

        try {
            $('#mydate').datepicker({
                dateFormat: 'dd-mm-yy',
                autoclose: true
            });
            var url = window.location.href;
            var part = url.substring(url.lastIndexOf('/') + 1);
            if (part != "Create") {
                $('#ID').val(part);
          $.ajax({
            type: "GET",
            url: '@Url.Action("GetEditData", "QuotationMain")',
              data: { ID: part },
            dataType: "json",
            success: function (result)
            {
                if (result.Message == "success") {
                    $('#QuotationName').val(result.data[0].QuotationName);

                    var value = new Date(parseInt(result.data[0].CreatedDate.substr(6)));
                    var month = ("0" + (value.getMonth() + 1)).slice(-2);
                    var day = ("0" + value.getDate()).slice(-2);
                    var ret = day + "-" + month + "-" + value.getFullYear();
                    $("#mydate").val(ret);

                    $.each(result.data, function (i, Temp) {
                        var Count = $('#Count').val();
                        $("#real").append(" <tbody> <tr id='R" + Count + "'>"
                            + " <td><input type='text' id='ProductType" + Count + "' readonly  style='width:150px'  class='ProductType form-control'' /></td>"
                            + "<td><input type='text' id='product" + Count + "' readonly  style='width:150px' class='product form-control'' /></td>"
                            + "<td><input type='text' id='UOM" + Count + "'   style='width:150px'   readonly class='UOM form-control'' /></td>"
                            + "<td><input type='text' id='WTFrom1" + Count + "'  style='width:60px'   readonly class='WTFrom1 form-control'' /></td>"
                            + "<td><input type='text' id='WTTo1" + Count + "'  style='width:60px'  readonly class='WTTo1 form-control'' /></td>"
                            + "<td><input type='text'  id='Rate1" + Count + "'  style='width:60px'  readonly class='Rate1 form-control'' /></td>"

                            + "<td><input type='text' id='WTFrom2" + Count + "'  style='width:60px'   readonly class='WTFrom2 form-control'' /></td>"
                            + "<td><input type='text' id='WTTo2" + Count + "'  style='width:60px'  readonly class='WTTo2 form-control'' /></td>"
                            + "<td><input type='text'  id='Rate2" + Count + "'  style='width:60px'  readonly class='Rate2 form-control'' /></td>"

                            + "<td><input type='text' id='WTFrom3" + Count + "'  style='width:60px'   readonly class='WTFrom3 form-control'' /></td>"
                            + "<td><input type='text' id='WTTo3" + Count + "'  style='width:60px'   readonly class='WTTo3 form-control'' /></td>"
                            + "<td><input type='text'  id='Rate3" + Count + "'  style='width:60px'  readonly class='Rate3 form-control'' /></td>"

                            + "<td><input type='text' id='AddWt" + Count + "'  style='width:60px'   readonly class='AddWt form-control'' /></td>"
                            + "<td><input type='text'  id='AddRate" + Count + "'  style='width:60px'  readonly class='AddRate form-control'' /></td>"


                            + "<td><Button type='Button' class='btn btn-sm btn-primary btnDelete' href='#'  onclick='Edit(" + Count + ")'  id='dlt' > <i class='fa fa-edit'></i> </Button> "



                            + "<td><Button type='Button' class='btn btn-sm btn-danger btnDelete' href='#'  onclick='Remove(" + Count + ")'  id='dlt' > <i class='fa fa-trash-alt'></i> </Button> "
                            + "<input type='hidden'  id='ProductId" + Count + "'    class='ProductId form-control'' />"
                            + "<input type='hidden'  id='DetailsID" + Count + "'    class='DetailsID form-control'' />"
                            + "<input type='hidden'  id='ProdCategoryID" + Count + "'    class='ProdCategoryID form-control'' /></td></tr> <tbody>");

                        debugger;


                        $('#ProductType' + Count).val(Temp.ProdCategory);
                        $('#product' + Count).val(Temp.ProductName);

                        $('#ProductId' + Count).val(Temp.ProductID);
                        $('#ProdCategoryID' + Count).val(Temp.ProdCategoryID);

                        $('#DetailsID' + Count).val(Temp.DetailsID);


                        $('#UOM' + Count).val(Temp.UOM);
                        $('#WTFrom1' + Count).val(Temp.WTFrom1);
                        $('#WTTo1' + Count).val(Temp.WTTo1);
                        $('#Rate1' + Count).val(Temp.Rate1);
                        $('#WTFrom2' + Count).val(Temp.WTFrom2);
                        $('#WTTo2' + Count).val(Temp.WTTo2);
                        $('#Rate2' + Count).val(Temp.Rate2);
                        $('#WTFrom3' + Count).val(Temp.WTFrom3);
                        $('#WTTo3' + Count).val(Temp.WTTo3);
                        $('#Rate3' + Count).val(Temp.Rate3);

                        $('#AddWt' + Count).val(Temp.AddWt);
                        $('#AddRate' + Count).val(Temp.AddRate);

                        $("#Count").val(Count + 1);

                    });




                }
            },
            failure: function (response) {
                $("#example tbody").empty();
            },
            error: function (err) {
                $("#example tbody").empty();
            }
        });
            }
        }
        catch (e) {
        }
    });



    function getproducts(ID) {

         $.ajax({
            type: "GET",
            url: '@Url.Action("GetProducts", "QuotationMain")',
             data: { PRODUCTTYPE: $('#ProductType').val() },
            dataType: "json",
            success: function (tbldata)
            {
                $("#product").empty();
                $("#product").append("<option value=''>Select</option>");
                $.each(tbldata, function (i, val) {
                    $("#product").append("<option value='" + val.ID + "'>" + val.Name + "</option>");
                });
                if (ID != undefined) {
                    
                    $("#product").val(ID);
                }
            },
            failure: function (response) {
                $("#example tbody").empty();
            },
            error: function (err) {
                $("#example tbody").empty();
            }
        });
    }

    function CalculateWeight() {

        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("CalculateWeight", "QuotationMain")',
            data: { PRODUCT: $('#product').val(), QTY: $('#Qty').val() },
            dataType: "json",
            success: function (result)
            {
                if (result.Message == "success") {

                  //  $('#lblweight').val(result.Product.Weight);
                    $('#UOM').val(result.Product.ProdUom);
                    $.preloader.stop();
                }
                else {
                    $('#lblweight').val('');
                    toastr.error(result.Message);
                    $.preloader.stop();
                }
                $.preloader.stop();
            },
            failure: function (response) {
                $('#lblweight').html('');
                $('#lbluom').html('');
                $.preloader.stop();
                alert(response.d);
            },
            error: function (err) {
                $('#lblweight').html('');
                $('#lbluom').html('');
                $.preloader.stop();
                alert(err.statusText);
            }
        });
    }

    function btnadd() {

        var valid = true;

        if ($('#product').val() == null || $('#product').val() == "") {
            toastr.error("Product is Required.");
            valid = false;
        }
        if ($('#ProductType').val() == null || $('#ProductType').val() == "") {
            toastr.error("Product Category is Required.");
            valid = false;
        }


        if ($('#QuotationName').val() == null || $('#QuotationName').val() == "") {
            toastr.error("Quotation Name is Required.");
            valid = false;
        }

        if ($('#mydate').val() == null || $('#mydate').val() == "") {
            toastr.error("Date is Required.");
            valid = false;
        }



        if ($('#WTFrom1').val() == null || $('#WTFrom1').val() == "") {
            toastr.error("WTFrom1 is Required.");
            valid = false;
        }


        if ($('#WTTo1').val() == null || $('#WTTo1').val() == "") {
            toastr.error("WTTo1 is Required.");
            valid = false;
        }
        if ($('#Rate1').val() == null || $('#Rate1').val() == "") {
            toastr.error("Rate1 is Required.");
            valid = false;
        }




        if ($('#WTFrom2').val() == null || $('#WTFrom2').val() == "") {
            toastr.error("WTFrom2 is Required.");
            valid = false;
        }


        if ($('#WTTo2').val() == null || $('#WTTo2').val() == "") {
            toastr.error("WTTo2 is Required.");
            valid = false;
        }
        if ($('#Rate2').val() == null || $('#Rate2').val() == "") {
            toastr.error("Rate2 is Required.");
            valid = false;
        }



        if ($('#WTFrom3').val() == null || $('#WTFrom3').val() == "") {
            toastr.error("WTFrom3 is Required.");
            valid = false;
        }


        if ($('#WTTo3').val() == null || $('#WTTo3').val() == "") {
            toastr.error("WTTo3 is Required.");
            valid = false;
        }
        if ($('#Rate3').val() == null || $('#Rate3').val() == "") {
            toastr.error("Rate3 is Required.");
            valid = false;
        }


        $('#real tbody tr').each(function (index, e) {
            var PrdName = $(e).children().get(1);
            if ($("#product :selected").text() == PrdName.firstElementChild.value) {
                valid = false;
                toastr.error("Product Already Added...");
            }
        });


        if (valid == true) {
            var Count = $('#Count').val();
            $('#QuotationName').prop('disabled', false);
            $('#mydate').prop('disabled', false);
            $("#real").append(" <tbody> <tr id='R" + Count + "'>"
                + " <td><input type='text' id='ProductType" + Count + "' readonly  style='width:150px'  class='ProductType form-control'' /></td>"
                + "<td><input type='text' id='product" + Count + "' readonly  style='width:150px' class='product form-control'' /></td>"
                + "<td><input type='text' id='UOM" + Count + "'   style='width:150px'   readonly class='UOM form-control'' /></td>"
                + "<td><input type='text' id='WTFrom1" + Count + "'  style='width:60px'   readonly class='WTFrom1 form-control'' /></td>"
                + "<td><input type='text' id='WTTo1" + Count + "'  style='width:60px'  readonly class='WTTo1 form-control'' /></td>"
                + "<td><input type='text'  id='Rate1" + Count + "'  style='width:60px'  readonly class='Rate1 form-control'' /></td>"

                + "<td><input type='text' id='WTFrom2" + Count + "'  style='width:60px'   readonly class='WTFrom2 form-control'' /></td>"
                + "<td><input type='text' id='WTTo2" + Count + "'  style='width:60px'  readonly class='WTTo2 form-control'' /></td>"
                + "<td><input type='text'  id='Rate2" + Count + "'  style='width:60px'  readonly class='Rate2 form-control'' /></td>"

                + "<td><input type='text' id='WTFrom3" + Count + "'  style='width:60px'   readonly class='WTFrom3 form-control'' /></td>"
                + "<td><input type='text' id='WTTo3" + Count + "'  style='width:60px'   readonly class='WTTo3 form-control'' /></td>"
                + "<td><input type='text'  id='Rate3" + Count + "'  style='width:60px'  readonly class='Rate3 form-control'' /></td>"

                + "<td><input type='text' id='AddWt" + Count + "'  style='width:60px'   readonly class='AddWt form-control'' /></td>"
                + "<td><input type='text'  id='AddRate" + Count + "'  style='width:60px'  readonly class='AddRate form-control'' /></td>"

                + "<td><Button type='Button' class='btn btn-sm btn-danger btnDelete' href='#'  onclick='Remove(" + Count + ")'  id='dlt' > <i class='fa fa-trash-alt'></i> </Button> "
                + "<input type='hidden'  id='ProductId" + Count + "'    class='ProductId form-control'' />"
                + "<input type='hidden'  id='DetailsID" + Count + "'    class='DetailsID form-control'' />"
                + "<input type='hidden'  id='ProdCategoryID" + Count + "'    class='ProdCategoryID form-control'' /></td></tr> <tbody>");

            $('#ProductType' + Count).val($("#ProductType :selected").text());
            $('#product' + Count).val($("#product :selected").text());

            $('#ProductId' + Count).val($("#product").val());
            $('#ProdCategoryID' + Count).val($("#ProductType").val());

            $('#DetailsID' + Count).val($('#DetailsID').val());

            $('#DetailsID').val(0)

            $('#UOM' + Count).val($("#UOM").val());
            $('#WTFrom1' + Count).val($("#WTFrom1").val());
            $('#WTTo1' + Count).val($("#WTTo1").val());
            $('#Rate1' + Count).val($("#Rate1").val());
            $('#WTFrom2' + Count).val($("#WTFrom2").val());
            $('#WTTo2' + Count).val($("#WTTo2").val());
            $('#Rate2' + Count).val($("#Rate2").val());
            $('#WTFrom3' + Count).val($("#WTFrom3").val());
            $('#WTTo3' + Count).val($("#WTTo3").val());
            $('#Rate3' + Count).val($("#Rate3").val());

            $('#AddWt' + Count).val($("#AddWt").val());
            $('#AddRate' + Count).val($("#AddRate").val());
            $("#Count").val(Count + 1);


            $("#UOM").val('');
            $("#WTFrom1").val('');
            $("#WTTo1").val('');
            $("#Rate1").val('');
            $("#WTFrom2").val('');
            $("#WTTo2").val('');
            $("#Rate2").val('');
            $("#WTFrom3").val('');


            $("#WTTo3").val('');
            $("#Rate3").val('');
            $("#AddWt").val('');
            $("#AddRate").val('');
          //  $("#ProductType").val('');
            $("#product").val('');
            $("#WTFrom1").focus();




        }
    }

    function Save() {

        if ($('#real TBODY tr').length == 0) {
            //...do something here
            toastr.error("Please add Some records.");
        }
        else {

            $.preloader.start({
                modal: true,
                src: 'sprites2.png'
            });

            var recs = new Array();

            $("#real TBODY TR").each(function () {
                var row = $(this);
                var Order = {

                    ProductId: $('.ProductId', this).val(),
                    ProdCategoryID: $('.ProdCategoryID', this).val(),
                    ProdCategory: $('.ProductType', this).val(),
                    ProductName: $('.product', this).val(),
                    UOM: $('.UOM', this).val(),

                    WTFrom3: $('.WTFrom3', this).val(),
                    WTTo3: $('.WTTo3', this).val(),
                    Rate3: $('.Rate3', this).val(),
                    WTFrom1: $('.WTFrom1', this).val(),
                    WTTo1: $('.WTTo1', this).val(),

                    Rate1: $('.Rate1', this).val(),
                    WTFrom2: $('.WTFrom2', this).val(),
                    WTTo2: $('.WTTo2', this).val(),
                    Rate2: $('.Rate2', this).val(),
                    AddWt: $('.AddWt', this).val(),
                    AddRate: $('.AddRate', this).val(),
                    DetailsID: $('.DetailsID', this).val(),




                }
                recs.push(Order);
            });
            debugger;
            var data = {
                recs: recs, QuotationName: $('#QuotationName').val(), QuotationDate: $('#mydate').val() , ID: $('#ID').val()
            }

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/QuotationMain/Save",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.Message == "success") {
                        //$('#form0').each(function () {
                        //    this.reset();
                        //});
                        toastr.success("Records Saved Succesfully");
                        window.location.href = '@Url.Action("Index", "QuotationMain")';
                        $('#product').val('');
                        $('#Qty').val('');
                        $('#lbluom').html('');
                        $('#lblweight').html('');
                        $('#real tbody').empty();

                        $('#ID').val('');
                        $('#CustId').val('');
                        $('#Location').val('');
                        $('#ShortName').val('');
                        $('#ProductType').val('');
                        $('#mydate').val('');



                        $('#mydate').attr("style", "");
                        $('#ProductType').attr("style", "");
                        $('#ShortName').attr("style", "");
                        $('#Location').attr("style", "");

                        //removereadonly
                        $("#mydate").removeAttr('readonly');
                        $("#ProductType").removeAttr('readonly');
                        $("#ShortName").removeAttr('readonly');
                        $("#Location").removeAttr('readonly');

                        $('#OrderId').val(result.Max);

                        
                    }
                    else {
                        toastr.error(result.Message);
                        $.preloader.stop();
                    }
                    $.preloader.stop();
                }
            });
        }
    }
    function Remove(Count) {
        $("#R" + Count + "").remove();
        CalculateGridData();
    }
    function CheckDuplicateQuotationName() {

          $.ajax({
            type: "GET",
            url: '@Url.Action("CheckDuplicateQuotationName", "QuotationMain")',
              data: { ID: $('#ID').val(), QuotationName: $('#QuotationName').val() },
            dataType: "json",
            success: function (result)
            {
                if (result != 0) {
                    toastr.error("Quotation Name Already Added...");
                    $('#QuotationName').val('');
                }

            },

        });
    }



    function Edit(Count) {
        $('#DetailsID').val($('#DetailsID' + Count).val());
        $('#ProductType').val($('#ProdCategoryID' + Count).val());
        getproducts($('#ProductId' + Count).val());
        $('#UOM').val($('#UOM' + Count).val());

        $('#WTFrom3').val($('#WTFrom3' + Count).val());
        $('#WTTo3').val($('#WTTo3' + Count).val());
        $('#Rate3').val($('#Rate3' + Count).val());
        $('#WTFrom1').val($('#WTFrom1' + Count).val());
        $('#WTTo1').val($('#WTTo1' + Count).val());
        $('#Rate1').val($('#Rate1' + Count).val());
        $('#WTFrom2').val($('#WTFrom2' + Count).val());
        $('#WTTo2').val($('#WTTo2' + Count).val());
        $('#Rate2').val($('#Rate2' + Count).val());

        $('#AddWt').val($('#AddWt' + Count).val());
        $('#AddRate').val($('#AddRate' + Count).val());

        $('#QuotationName').prop('disabled', true);
        $('#mydate').prop('disabled', true);



        Remove(Count);

    }
</script>

