
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-style: ridge;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
</style>
<br />
<section class="content">
    <div class="container-fluid">


        @using (Html.BeginForm(null, null, FormMethod.Post, new
        {
            @id = "form0",
            onSubmit = "return false"
        }))

        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="Count" value="1" />
            <input type="hidden" id="RootListCount" value="4000" />
            <input type="hidden" id="ID" />
            <div class="form-horizontal">
                <div class="content-header" style="padding:1px">
                    <h4>Dispatch Details</h4>
                </div>
                <hr />
                <div class="row">

                    <div class="col-md-2">
                        <label for="Date">Date</label>
                    </div>
                    <div class="col-sm-3">

                        <input type="text" id="txtDate" class="form-control" onchange="ClearData()" />
                    </div>

                    <div class="col-md-2">
                        <label for="Route">Route</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("Route", new SelectList(ViewBag.Root, "ID", "MainRouteName"), "Select Route", new { @class = "form-control", Autocomplete = "off", @onchange = "GetRoute()" })
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-2">
                       
                    </div>
                    <div class="col-sm-3">

                    </div>

                    <div class="col-md-2">
                        <label for="Product Type">Product Type</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("ProductType", new SelectList(ViewBag.ProductType, "ID", "Type"), "Select Product Type", new { @class = "form-control", Autocomplete = "off"  })
                    </div>
                </div>
                <br />
                <div class="row">


                    <div class="col-md-2">
                        <label for="Route">Vendor Type</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.DropDownList("VendorType", new SelectList(ViewBag.VendorType, "VendorType", "VendorType"), "Select Vendor Type", new { @class = "form-control", Autocomplete = "off", @onchange = "GetVendors()" })
                    </div>
                    @*<div class="col-sm-3">
            <select id="VendorType" name="VendorType" class="form-control">
                <option value="">Select</option>
                <option value="OWN">OWN</option>
                <option value="Vendor">Vendor</option>
                <option value="Third Party">Third Party</option>

            </select>
        </div>*@


                    <div class="col-md-2">
                        <label for="Date">Vendor Name</label>
                    </div>
                    <div class="col-sm-3">

                        @Html.DropDownList("VendorName", new SelectList(ViewBag.VendorName, "VendorName", "VendorName"), "Select Vendor Name", new { @class = "form-control", Autocomplete = "off", onchange = "GetDriverDetails()" })
                    </div>

                </div>
                <br />

                <div class="row">

                    <div class="col-md-2">
                        <label for="Date">Driver Name</label>
                    </div>
                    <div class="col-sm-3">

                        @Html.DropDownList("DriverName", new SelectList(ViewBag.DriverName, "DriverName", "DriverName"), "Select Driver Name", new { @class = "form-control", Autocomplete = "off" })
                    </div>
                    <div class="col-md-2">
                        <label for="Route">Vehical No</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="VehicalNo" class="form-control" />
                    </div>
                </div>
                <br />
                <hr />
                <br />

                <div class="row" style="display:none" id="P2">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="overflow-x:auto;">
                                        <table class="table table-responsive-sm " id="tblcust" style="width: 100%;"></table>
                                        <span id="orderItemError" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-10">

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <input type="button" id="btnadd" value="=>" class="btn btn-primary" onclick="SaveData()" />
                            <br />
                            <br />
                            <input type="button" id="btnadd" value="<=" class="btn btn-primary" onclick="RevertData()" />
                        </div>
                    </div>
                </div>
            </div>*@
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="overflow-x:auto;">
                                        <table class="table table-responsive-sm" id="RootDetails" style="width: 100%;"></table>
                                        <span id="orderItemError" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <br />
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-sm-3">

                    </div>

                    <div class="col-md-2">
                        <label for="Route">Total Box</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="NoOfBoxes" class="form-control" readonly />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-md-2">
                        <label for="Route">Total WT </label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="TotalWT" class="form-control" readonly />
                    </div>


                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-sm-3">

                    </div>

                    <div class="col-md-2">

                    </div>
                    <div class="col-sm-3">
                        <input type="button" id="btnSave" value="Save" class="btn btn-success" onclick="SaveDispachDAta()" />
                        <a href="@Url.Action("Index", "RouteAssignment")" class="btn btn-primary"> Back to List </a>
                    </div>
                </div>

            </div>

        }
    </div>
</section>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script src="~/Scripts/jquery.preloaders.js"></script>
<script>

    $(document).ready(function () {
        $('#txtDate').datepicker({
                dateFormat: 'dd-mm-yy',
                autoclose: true,
            MaxDate: 0,
            });
        $('#txtDate').val('@DateTime.Now.ToString("dd-MM-yyyy")');

        var url = window.location.href;
        var part = url.substring(url.lastIndexOf('/') + 1);
        if (part != "Create") {
            $.preloader.start({
                modal: true,
                src: 'sprites2.png'
            });


            $("#ID").val(part);
            GetEditData(part);
        }

          $.ajax({
            type: "GET",
            url: '@Url.Action("GetProducts", "RouteAssignment")',
            data: {  },
            dataType: "json",
            success: function (result)
            {
                $("#").empty();
                $("#ProductType").append("<option value=''>Select</option>");

                $.each(result.Vendordetails, function (i, val) {
                    $("#ProductType").append("<option value='" + val.ID + "'>" + val.Type + "</option>");

                });


                $.preloader.stop();
            },
            failure: function (response) {
                $.preloader.stop();
                /*alert(response.d);*/
            },
            error: function (err) {
                $.preloader.stop();
                /*alert(err.statusText);*/
            }
        });

    });

    function ClearData() {
        GetRoute();
    }
    function GetEditData(ID) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetEditData", "RouteAssignment")',
            data: { ID:ID },
            dataType: "json",
            success: function (result)
            {
                if (result.Message == "success")
                {
                    try {
                        var value = new Date(parseInt(result.Dispatch.DispatchDate.substr(6)));
                        var month = ("0" + (value.getMonth() + 1)).slice(-2);
                        var day = ("0" + value.getDate()).slice(-2);
                        var ret = day + "-" + month + "-" + value.getFullYear();
                        $("#txtDate").val(ret);
                    } catch (ee) {}

                    $("#Route").val(result.Dispatch.Route);
                    $("#DriverName").val(result.Dispatch.DriverName);
                    $("#VendorType").val(result.Dispatch.VendorType);
                    $("#VendorName").val(result.Dispatch.VendorName);
                    $("#VehicalNo").val(result.Dispatch.VehicalNo);
                    $("#NoOfBoxes").val(result.Dispatch.NoofBoxes);
                    $("#TotalWT").val(result.Dispatch.TotalWeight);
                    $("#ProductType").val(result.Dispatch.ProductType);
                    GetEditCustomers(ID);


                    $.preloader.stop();
                }

            },
            failure: function (response) {
                $.preloader.stop();
                alert(response.d);
            },
            error: function (err) {
                $.preloader.stop();
                alert(err.statusText);
            }
        });
    }
    //function SetRoot() {
    //    GetRootDetails();
    //    AddRoot();
    //}
    function AddRoot() {
        if ($('#Root').val() != "") {
            $('#Root').prop("disabled", true)

            $('#P1').show();
            $('#P2').show();
            $('#P3').show();
        } else {
            $('#P1').hide();
            $('#P2').hide();
            $('#P3').hide();
        }

    }

    function GetEditCustomers(ID)
    {
        $('#P2').show();
      //  SaveData();
      //  GetRootDetails();
        $("#tblcust").empty();
        $
         $.ajax({
                url: '@Url.Action("GetEditCustomers", "RouteAssignment")',
                type: "Get",
                dataType: "JSON",
             data: { Root: $('#Route').val(), Date: $('#txtDate').val(),ID:ID},
                success: function (result) {
                    try {
                        if (result.Count != 0) {

                            $("#tblcust").empty();
                            debugger
                            $("#tblcust").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7' > <th></th><th>Select</th> <th></th><th>Customer</th><th>Route</th></tr> <tbody>");
                            $.each(result.WithoutOrder, function (i, Temp) {
                                var Count = $('#Count').val();
                                $("#tblcust").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "' onclick='ChkData(" + Count + ")'/></td> <td><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td ><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label></td> <td><label id='Root" + Count + "' readonly class='Root'' ></label><label id='Area" + Count + "' style='display:none' readonly class='Area'' ></label></td>    </tr> <tbody>");
                                debugger
                                $("#CustomerID" + Count + "").val(Temp.ID);
                                $("#CustomerName" + Count + "").text(Temp.CustName);
                                $("#Root" + Count + "").text(Temp.RootName);
                                $("#Area" + Count + "").text(Temp.Area);

                                $("#cnt" + Count + "").val(Count);

                                $('#Count').val(Count + 1);

                            });

                            $("#RootDetails").empty();
                            $("#RootDetails").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7'> <th> </th><th>Select</th> <th></th> <th>Customer</th> <th>Route</th> <th>City</th></tr> <tbody>");
                            $.each(result.WithOrder, function (i, Temp) {
                                debugger
                                var Count = $('#RootListCount').val();

                                if (Temp.CustomerName != "") {
                                    $("#RootDetails").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "' class='checkbox' onclick='ChkData(" + Count + ")'/></td> <td><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label></td> <td><label id='Root" + Count + "'  readonly class='Root'' ></label</td><td><label id='Area" + Count + "' readonly class='Area'' ></label</td>   </tr> <tbody>");
                                    debugger
                                    $("#CustomerName" + Count + "").text(Temp.CustName);
                                    $("#Root" + Count + "").text(Temp.RootName);
                                    $("#Area" + Count + "").text(Temp.Area);
                                    $("#cnt" + Count + "").val(Count);
                                    $("#CustomerID" + Count + "").val(Temp.ID);
                                }
                                $('#RootListCount').val(Count + 1);
                            });
                      //      CalculateWeight();
                        } else {
                            toastr.error('Customer Not Found...');
                        }

                    }
                    catch (e) {
                    }
                }
            });
    }

    function GetSubRoute() {

        $('#RootDetails').empty();
         $.ajax({
                url: '@Url.Action("GetSubRoutes", "RouteAssignment")',
                type: "Get",
                dataType: "JSON",
             data: { RouteMainID: $('#Route').val() },
                success: function (result) {
                    try {
                        if (result.Message == "success") {
                            $("#SubRoute").empty();
                            $("#SubRoute").append("<option value=''>Select Sub Route</option>");
                            $.each(result.SubRoute, function (i, val) {
                                debugger
                                $("#SubRoute").append("<option value='" + val + "'>" + val + "</option>");
                            });

                        } else {
                            toastr.error(result.Message);
                        }
                    }
                    catch (e) {
                    }
                }
            });

    }


    function GetRoute()
    {
        $('#P2').show();
      //  SaveData();
      //  GetRootDetails();
        $("#tblcust").empty();
        $
         $.ajax({
                url: '@Url.Action("GetCustomers", "RouteAssignment")',
                type: "Get",
                dataType: "JSON",
             data: { Root: $('#Route').val(), SubRoute: $('#SubRoute').val(), Date: $('#txtDate').val()},
                success: function (result) {
                    try {
                        debugger
                        if (result.Count != 0) {

                            $("#tblcust").empty();
                            debugger
                            $("#tblcust").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7' ><th>Order No</th><th>Customer</th><th>Route</th><th>City</th></tr> <tbody>");
                            $.each(result.WithoutOrder, function (i, Temp) {
                                var Count = $('#Count').val();
                                $("#tblcust").append(" <tbody> <tr id='R" + Count + "'><td><label id='OrderNo" + Count + "'  readonly class='OrderNo'' ></label><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td ><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label</td> <td ><label id='Root" + Count + "' readonly class='Root'' ></label></td><td><label id='Area" + Count + "'  readonly class='Root'' ></label></td>    </tr> <tbody>");
                                debugger
                                $("#CustomerID" + Count + "").val(Temp.CustID);
                                $("#CustomerName" + Count + "").text(Temp.CustName);
                                $("#Root" + Count + "").text(Temp.RouteMainName);
                                $("#Area" + Count + "").text(Temp.Area);
                                $("#OrderNo" + Count + "").text(Temp.ID);
                                $("#WT" + Count + "").text(Temp.WT);

                                $("#cnt" + Count + "").val(Count);

                                $('#Count').val(Count + 1);

                            });

                            $("#RootDetails").empty();
                            $("#RootDetails").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7'> <th> </th><th>Select</th> <th>Order No</th> <th>Customer</th> <th>Route</th> <th>City</th> <th>Box</th></tr> <tbody>");
                            $.each(result.WithOrder, function (i, Temp) {
                                debugger
                                var ct = $('#RootListCount').val();
                                var Count=parseInt(ct)

                                if (Temp.CustomerName != "") {
                                    $("#RootDetails").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "' class='checkbox'  onclick='ChkData(" + Count + ")'/></td> <td><label id='OrderNo" + Count + "'  readonly class='OrderNo'' ></label><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label</td> <td><label id='Root" + Count + "'  readonly class='Root'' ></label</td><td><label id='Area" + Count + "' readonly class='Area'' ></label><input type='hidden' id='TotalWeight" + Count + "'/></td><td><label id='NoOfBox" + Count + "'></label></td>    </tr> <tbody>");
                                    debugger
                                 //   $("#CustomerName" + Count + "").text(Temp.CustName);
                                 //   $("#Root" + Count + "").text(Temp.RootName);
                                 //   $("#Area" + Count + "").text(Temp.Area);

                                 //   $("#CustomerID" + Count + "").val(Temp.ID);

                                    $("#CustomerID" + Count + "").val(Temp.CustID);
                                    $("#CustomerName" + Count + "").text(Temp.CustName);
                                    $("#Root" + Count + "").text(Temp.RootName);
                                    $("#Area" + Count + "").text(Temp.Area);
                                    $("#OrderNo" + Count + "").text(Temp.ID);

                                    $("#NoOfBox" + Count + "").text(Temp.NoOfBox);
                                    $("#TotalWeight" + Count + "").text(Temp.TotalWeight);


                                    $("#cnt" + Count + "").val(Count);



                                }
                                $('#RootListCount').val(Count + 1);
                            });
                       //     CalculateWeight();
                        } else {
                            toastr.error('Customer Not Found...');
                        }

                    }
                    catch (e) {
                    }
                }
            });
    }

     @*function GetRootDetails()
    {
      //  SaveData();

         $.ajax({
                url: '@Url.Action("GetRootDetails", "RouteAssignment")',
                type: "Get",
                dataType: "JSON",
             data: { City: $('#City').val(), ID: $('#ID').val(), Root: $('#Root').val()},
                success: function (result) {

                        if (result.Count != 0) {
                            var Count = 10000;
                            var url = window.location.href;
                            var part = url.substring(url.lastIndexOf('/') + 1);


                            $("#RootDetails").empty();
                            $("#RootDetails").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7'> <th> </th><th>Select</th> <th></th> <th>Route</th> <th>City</th><th>Customer Name</th></tr> <tbody>");
                            $.each(result, function (i, Temp) {
                                debugger


                                if (Temp.CustomerName != "") {
                                    $("#RootDetails").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "'></td> <td><input type='hidden' id='ID" + Count + "' readonly  class='ID'' /></td><td><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label</td><td><label id='Root" + Count + "'  readonly class='Root'' ></label</td><td><label id='Area" + Count + "' readonly class='Area'' ></label</td>    </tr> <tbody>");

                                    $("#CustomerName" + Count + "").text(Temp.CustName);
                                    $("#Root" + Count + "").text(Temp.Root);
                                    $("#Area" + Count + "").text(Temp.Area);

                                    $("#ID" + Count + "").val(Temp.ID);
                                    $("#cnt" + Count + "").val(Count);

                                }

                                Count = Count + 1;




                            });
                            AddRoot();
                        } else {
                            toastr.error('Customer Not Found...');
                        }


                }
            });
    }*@

    //function SaveData() {
    //    var temp = false;
    //    var list = [];



    //    $('#tblcust tbody tr').each(function (index, e) {
    //        try {

    //            var inputEl = $(e).children().get(0);
    //            var cnt = inputEl.firstElementChild.value;
    //            var Count = parseInt(cnt);
    //            var CheValue = $("#CHKSelect" + Count).is(':checked') ? 1 : 0;

    //            if (CheValue == 1) {
    //                debugger;
    //                var  CustomerID= $('#CustomerID' + Count).val()
    //                var CustomerName = $('#CustomerName' + Count).text()
    //                var Root = $('#Root' + Count).text()
    //                var Area = $('#Area' + Count).text()
    //                var OrderNo = $('#OrderNo' + Count).text()
    //             //   var CustomerID = $('#CustomerID' + Count).text()

    //                $('#R' + Count).remove();

    //                $("#RootDetails").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "'></td> <td><label id='OrderNo" + Count + "' readonly class='OrderNo'' ></label><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label</td><td><label id='Root" + Count + "'  readonly class='Root'' ></label</td><td><label id='Area" + Count + "' readonly class='Area'' ></label></td>    </tr> <tbody>");

    //                $("#CustomerName" + Count).text(CustomerName);
    //                $("#Root" + Count  ).text(Root);
    //                $("#Area" + Count ).text(Area);
    //                $("#CustomerID" + Count).val(CustomerID);
    //                $("#OrderNo" + Count).text(OrderNo);

    //                $("#cnt" + Count + "").val(Count);
    //            }
    //        } catch (ee) {

    //        }
    //    })
    //    CalculateWeight();
    //}



    //function RevertData() {
    //    var temp = false;
    //    var list = [];


    //    $('#RootDetails tbody tr').each(function (index, e) {
    //        try {

    //            var inputEl = $(e).children().get(0);
    //            var cnt = inputEl.firstElementChild.value;
    //            var Count = parseInt(cnt);
    //            var CheValue = $("#CHKSelect" + Count).is(':checked') ? 1 : 0;
    //            debugger;
    //            if (CheValue == 1) {
    //                debugger;
    //                var CustomerID = $('#CustomerID' + Count).val()
    //                var CustomerName = $('#CustomerName' + Count).text()
    //                var Root = $('#Root' + Count).text()
    //                var Area = $('#Area' + Count).text()
    //                var OrderNo = $('#OrderNo' + Count).text()


    //              //  var CustomerID = $('#CustomerID' + Count).text()

    //                $('#R' + Count).remove();
    //                $("#tblcust").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "'></td> <td><label id='OrderNo" + Count + "'  readonly class='OrderNo'' ></label><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td ><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label</td> <td ><label id='Root" + Count + "' readonly class='Root'' ></label><label id='Area" + Count + "' style='display:none' readonly class='Root'' ></label></td>    </tr> <tbody>");
    //                debugger
    //                $("#CustomerID" + Count + "").val(CustomerID);
    //                $("#CustomerName" + Count + "").text(CustomerName);
    //                $("#Root" + Count + "").text(Root);
    //                $("#Area" + Count + "").text(Area);
    //                $("#cnt" + Count + "").val(Count);
    //                $("#OrderNo" + Count + "").text(OrderNo);


    //            }
    //        } catch (ee) {

    //        }
    //    })
    //    debugger
    //    CalculateWeight();
    //}


    function CalculateWeight() {
        $('#TotalWT').val('');
        $('#NoOfBoxes').val('');
        var list = [];
        $('#RootDetails tbody tr').each(function (index, ele) {
            debugger
            try {
                var inputEl = $(ele).children().get(0);
                var cnt = inputEl.firstElementChild.value;
                var Count = parseInt(cnt);
                debugger
                var orderItem = {
                    CustomerID: $('#CustomerID' + Count).val(),
                    CustomerName: $('#CustomerName' + Count).val(),
                }
                debugger
                list.push(orderItem);
            } catch (e) {}

        });
        debugger
        if (parseInt(list.length) != 0) {
            var data = {
                Cust: list
            }
            debugger
            $(this).val('Please wait...');
            $.ajax({
                type: 'POST',
                url: '/RouteAssignment/GetCalculatedWeight',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (result) {

                    if (result.Message == "success") {
                        $('#TotalWT').val(result.TotalWeight);
                        $('#NoOfBoxes').val(result.TotalBoxes);
                    }
                    else {
                        toastr.error(result.Message);
                    }
                    // $('#submit').val('Save');
                },
                error: function (error) {
                    console.log(error);
                    //     $('#submit').val('Save');
                }
            });
        }
    }
    function SaveDispachDAta() {
        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });
        var flag = false;
        var list = [];
        $('#RootDetails tbody tr').each(function (index, ele) {
            debugger
            try {
                var inputEl = $(ele).children().get(0);
                var cnt = inputEl.firstElementChild.value;
                var Count = parseInt(cnt);
                var active = $('#CHKSelect' + Count).prop("checked") ? 1 : 0;
                if (active == 1)
                {
                    flag = true;
                var orderItem = {
                    CustomerID: $('#CustomerID' + Count).val(),
                    CustomerName: $('#CustomerName' + Count).text(),
                    OrderNo: $('#OrderNo' + Count).text(),
                    TotalWT: $('#TotalWeight' + Count).text(),
                    TotalBoxes: $('#NoOfBox' + Count).text(),
                }
                debugger
                list.push(orderItem);
                }

            } catch (e) { }

        });


        var temp = true;
        if (flag == false) {

            toastr.error("Please Select Order For Dispatch..");
            temp = flag;
        }

        if ($('#txtDate').val()=="") {
            toastr.error('Please Select Date..');
            temp = false;
        }
        if ($('#Route').val() == "") {
            toastr.error('Please Select Route..');
            temp = false;
        }

        if ($('#DriverName').val() == "") {
            toastr.error('Please Select Driver Name..');
            temp = false;
        }

        if ($('#VendorType').val() == "") {
            toastr.error('Please Select Vehical Type..');
            temp = false;
        }
        if ($('#VendorName').val() == "") {
            toastr.error('Please Select Vendor Name..');
            temp = false;
        }
        if ($('#VehicalNo').val() == "") {
            toastr.error('Please enter Vehical No..');
            temp = false;
        }

        if ($('#ProductType').val() == "" || $('#ProductType').val() == undefined || $('#ProductType').val() == NaN) {
            toastr.error('Please Select Product Type..');
            temp = false;
        }

        var count = $('#RootDetails tr').length;

        if (count == 1 || count == 0) {
            toastr.error('Please Add Customer To List..');
            temp = false;
        }
        if (temp == true) {


            if (parseInt(list.length) != 0) {
                var data = {
                    Cust: list,
                    Date: $('#txtDate').val(),
                    Route: $('#Route').val(),
                    DriverName: $('#DriverName').val(),
                    VendorType: $('#VendorType').val(),
                    VendorName: $("#VendorName option:selected").text(),


                    VehicalNo: $('#VehicalNo').val(),

                    TotalBoxes: $('#NoOfBoxes').val(),
                    TotalWT: $('#TotalWT').val(),
                   // VendorType: $('#VendorType').val(),
                    ID: $('#ID').val(),
                    SubRoute: $('#SubRoute').val(),
                    VendorID: $('#VendorName').val(),

                    RouteName: $("#Route option:selected").text(),
                    ProductType: parseInt($('#ProductType').val())
                }
                debugger
                $(this).val('Please wait...');
                $.ajax({
                    type: 'POST',
                    url: '/RouteAssignment/Save',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (result) {

                        $.preloader.stop();
                        if (result.Message == "success") {

                            alert("Order Successfully Dispatched...");
                            window.location.href = "/RouteAssignment/Index";
                        }
                        else {
                            $.preloader.stop();
                            toastr.error(result.Message);
                        }
                        // $('#submit').val('Save');
                    },
                    error: function (error) {
                        $.preloader.stop();
                        console.log(error);
                        //     $('#submit').val('Save');
                    }
                });
            }
        } else {
            $.preloader.stop();
        }
    }


    function GetDriverDetails() {

         $.ajax({
            type: "GET",
            url: '@Url.Action("GetDriverDetails", "RouteAssignment")',
             data: { ID: $('#VendorName').val() },
            dataType: "json",
            success: function (result)
            {
                $("#DriverName").empty();
                $("#DriverName").append("<option value=''>Select</option>");
             //   var Count = 1
             //   $("#orderdetailsItems").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7' > <th></th><th><input type='checkbox' id='CHKSelectAll' name='CHKSelectAll' onclick='ChkSelectAllData()'></th> <th>Location</th><th>Customer Code</th><th>Customer Name</th></tr> <tbody>");
                $.each(result.Driverdetails, function (i, val) {
                    debugger

                    debugger;
                    $("#DriverName").append("<option value='" + val + "'>" + val + "</option>");
                    //$("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "'></td> <td><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /><label id='Area" + Count + "' style='width:120px' readonly class='Area'' ></label></td><td ><label id='CustomerCode" + Count + "' style='width:65px' readonly class='CustomerCode'' ></label></td><td ><label id='CustomerName" + Count + "' style='width:150px' readonly class='CustomerName'' ></label></td>    </tr> <tbody>");

                    //$('#cnt' + Count).val(Count);
                    //$('#CustomerID' + Count).val(val.ID);
                    //$('#CustomerCode' + Count).text(val.CustID);
                    //$('#CustomerName' + Count).text(val.CustName);
                    //$('#Area' + Count).text(val.Area);


                    //Count++;
                });


                $.preloader.stop();
            },
            failure: function (response) {
                $.preloader.stop();
                /*alert(response.d);*/
            },
            error: function (err) {
                $.preloader.stop();
                /*alert(err.statusText);*/
            }
        });
    }

    function GetVendors() {
 $.ajax({
            type: "GET",
            url: '@Url.Action("GetVendors", "RouteAssignment")',
     data: { VendorType: $('#VendorType').val() },
            dataType: "json",
            success: function (result)
            {
                $("#VendorName").empty();
                $("#VendorName").append("<option value=''>Select</option>");

                $.each(result.Vendordetails, function (i, val) {
                    debugger

                    debugger;
                    $("#VendorName").append("<option value='" + val.ID + "'>" + val.VendorName + "</option>");

                });


                $.preloader.stop();
            },
            failure: function (response) {
                $.preloader.stop();
                /*alert(response.d);*/
            },
            error: function (err) {
                $.preloader.stop();
                /*alert(err.statusText);*/
            }
        });
    }

    function GetProducts() {

    }
    function ChkData(cnt) {

        var CheValue = $("#CHKSelect" + cnt).is(':checked') ? 1 : 0;
        var NoOfBoxes = $('#NoOfBoxes').val();
        var TotalWT = $('#TotalWT').val();
        debugger;

        var box = $("#NoOfBox" + cnt).text();
        var wt = $("#TotalWeight" + cnt).text();

        if (CheValue == 1) {
            if (TotalWT == "") {
                TotalWT = 0;
                NoOfBoxes = 0;
            }
            var totwt = parseFloat(wt) + parseFloat(TotalWT);
            $('#TotalWT').val(totwt);

            var totbox =parseInt( box) + parseInt( NoOfBoxes);
            $('#NoOfBoxes').val(totbox);

        } else {
            if (TotalWT == "") {
                TotalWT = 0;
                NoOfBoxes = 0;
            }
            var totwt = parseFloat(TotalWT) -parseFloat(wt) ;
            $('#TotalWT').val(totwt);

            var totbox = parseInt(NoOfBoxes) - parseInt( box);
            $('#NoOfBoxes').val(totbox);



        }

    }

    //$("#NoOfBox" + Count + "").text(Temp.NoOfBox);
    //$("#TotalWeight" + Count + "").text(Temp.TotalWeight);
</script>

