@model IEnumerable<Micraft.ManeGrowAgro.Models.HarvestingMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyProjection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyProjection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyPrediction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualQuentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectionFailuarReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProjection)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearlyProjection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyProjection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyPrediction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualQuentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectionFailuarReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProjection)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
