
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-style: ridge;
       
    }
    tr:nth-child(even) {
        background-color: #D6EEEE;
    }

  
</style>
<br />
<section class="content">
    <div class="container-fluid">


        @using (Html.BeginForm(null, null, FormMethod.Post, new
        {
            @id = "form0",
            onSubmit = "return false"
        }))

        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="Count" value="10" />
            <input type="hidden" id="SubRouteNAmes"  />
            
            <input type="hidden" id="ID" />
            <input type="hidden" id="SubRouteID" />
            <input type="hidden" id="SubCustCOunt" value="509" />
            <input type="hidden" id="RouteCount" value="200" />
            <input type="hidden" id="SubID" />

            <div class="form-horizontal">

                <div class="content-header" style="padding:1px">
                    <h4>Create Sub Route</h4>
                </div>
                <hr />
                <div id="hfRoute">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="Route">Main Route</label>
                        </div>
                        <div class="col-sm-3">
                            @Html.DropDownList("Route", new SelectList(ViewBag.MainRoute, "ID", "MainRouteName"), "Select Main Route", new { @class = "form-control", Autocomplete = "off", onchange = "SaveSubRouteMain()" })
                        </div>

                    </div>
                    @*    <br />*@
                    @*<div class="row">
                        <div class="col-md-2">
                            <label for="Route">Sub Route</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="SubRoute1" name="SubRoute1" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnadd" value="Add" class="btn btn-primary" onclick="SaveSubRouteMain()" />
                        </div>
                    </div>*@

                </div>
                <hr />
                <div class="row">

                    <div class="col-md-11">
                        <table class="table table-responsive">
                            <tr style="color: #301ae3; font-size: 50px"><td>SR Name</td><td>SR 1</td><td>SR 2</td> <td>SR 3</td><td>SR 4</td><td>SR 5</td><td>SR 6</td> <td>SR 7</td><td>SR 8</td><td>&nbsp;</td></tr>
                            <tr class="mycontainer" id="mainrow">
                                <td>
                                    <input type="text" id="SubRoute" name="SubRoute" class="form-control" />
                                </td>
                                <td>
                                    @Html.DropDownList("SR1", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 1", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR1')" })
                                </td>

                                <td>
                                    @Html.DropDownList("SR2", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 2", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR2')" })
                                </td>
                                <td>
                                    @Html.DropDownList("SR3", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 3", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR3')" })
                                </td>
                                <td>
                                    @Html.DropDownList("SR4", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 4", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR4')" })
                                </td>
                                <td>
                                    @Html.DropDownList("SR5", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 5", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR5')" })
                                </td>
                                <td>
                                    @Html.DropDownList("SR6", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 6", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR6')" })
                                </td>
                                <td>
                                    @Html.DropDownList("SR7", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 7", new { @class = "form-control", Autocomplete = "off", onchange = "BindDropdown('SR7')" })
                                </td>
                                <td>
                                    @Html.DropDownList("SR8", new SelectList(ViewBag.CityName, "CityName", "CityName"), "Select SR 8", new { @class = "form-control", Autocomplete = "off", })
                                </td>
                                <td>
                                    <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-responsive" id="orderdetailsItems"></table>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2 col-12">
                        @*<input type="button" id="bttnSavae" value="Save Bom" onclick="SaveBom()" class="btn btn-success" />*@
                    </div>

                    <div class="col-md-2">
                        <a href="@Url.Action("Index", "SubRouteDetails")" class="btn btn-primary"> Back to List </a>
                    </div>

                </div>

            </div>


        }
        <div class="modal" id="myModal">
            <input type="hidden" id="hdpreviousqty" />
            <input type="hidden" id="hdproductid" />

            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Customer List</h4>
                        <button type="button" class="close" data-dismiss="modal" onclick="ClosePopup();">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <lable>Short Name</lable>
                                    @Html.DropDownList("ShortName", new SelectList(ViewBag.ShortNames, "ShortName", "ShortName"), "Select", new { @class = "form-control", onchange = "GetCustomers()" })

                                </div>

                                <div class="col-md-6 col-12">
                                    <label>Select Customer</label>
                                    @Html.DropDownList("CustomerName", new SelectList(ViewBag.CustomerName, "ID", "CustName"), "Select Customer", new { @class = "form-control" })
                                </div>
                                <div class="col-md-3 col-12">
                                    <br />
                                    <input type="button" id="AddCust" class="btn btn-primary" value="Add" onclick="AddData();">
                                </div>
                            </div>

                            <br />
                            <div class="overflow-x:auto;">
                                <table class="table table-responsive " id="CustomerOrderList" style="width: 100%; height:300px"></table>
                                <span id="orderItemError" style="color:red"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">

                                        <div class="col-md-6">

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <input type="button" id="btnSave" value="Save" class="btn btn-primary" onclick="SaveSubCustomers()" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script src="~/Scripts/jquery.preloaders.js"></script>


<script>

    $(document).ready(function () {
       var url = window.location.href;
            var part = url.substring(url.lastIndexOf('/') + 1);
        if (part != "Create") {
            $('#ID').val(part);
            GetRootDetails(part);
            }
    });

    function SaveSubRouteMain() {
        var temp = true;
        if ($('#Route').val() == "") {
            temp = false;
        //    toastr.error('Please select Route')
        }
        //if ($('#SubRoute').val() == "") {
        //    temp = false;
        //    toastr.error('Please select Sub Route')
        //}
        if (temp == true) {

            $.ajax({
                url: '@Url.Action("SaveSubRouteMain", "SubRouteDetails")',
                type: "Get",
                dataType: "JSON",
                data: {
                    RouteMainID: $('#Route').val(), RouteMainName: $("#Route option:selected").text() },
                success: function (result) {
                    try {

                        if (result.Message == "success") {
                            $("#SR1").empty();
                            $("#SR1").append("<option value=''>Select SR 1</option>");
                            $.each(result.City, function (i, val) {
                                $("#SR1").append("<option value='" + val.City + "'>" + val.City + "</option>");
                            });
                            GetData();
                        } else {
                            toastr.error(result.Message);
                        }
                    }
                    catch (e) {
                    }
                }
            });
        }

    }
    //function SetRoot() {
    //    GetRootDetails();
    //    AddRoot();
    //}
    //function AddRoot() {
    //    if ($('#Root').val() != "") {
    //        $('#Root').prop("disabled", true)

    //        $('#P1').show();
    //        $('#P2').show();
    //        $('#P3').show();
    //    } else {
    //        $('#P1').hide();
    //        $('#P2').hide();
    //        $('#P3').hide();
    //    }

    //}

    @*function GetCustomer()
    {
        $('#P2').show();
      //  SaveData();
        GetRootDetails();
        $("#tblcust").empty();
        $
         $.ajax({
                url: '@Url.Action("GetCustomers", "SubRouteDetails")',
                type: "Get",
                dataType: "JSON",
             data: { RouteMainID: $('#Route').val(), RouteMainName: $('#Route option selected').text(), SubRoute: $('#SubRoute').val()},
                success: function (result) {
                    try {
                        if (result.Count != 0) {
                            var Count = 1;
                            $("#tblcust").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7' > <th></th><th>Select</th> <th></th><th>Customer Name</th></tr> <tbody>");
                            $.each(result, function (i, Temp) {

                                $("#tblcust").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "'></td> <td><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /></td><td ><label id='CustomerName" + Count + "' style='width:250px' readonly class='CustomerName'' ></label</td>    </tr> <tbody>");

                                $("#CustomerID" + Count + "").val(Temp.ID);
                                $("#CustomerName" + Count + "").text(Temp.CustName);


                                $("#cnt" + Count + "").val(Count);

                                Count++

                            });
                        } else {
                            toastr.error('Customer Not Found...');
                        }

                    }
                    catch (e) {
                    }
                }
            });
    }*@

     function GetRootDetails()
    {
      //  SaveData();

         $.ajax({
                url: '@Url.Action("GetRootDetails", "SubRouteDetails")',
                type: "Get",
                dataType: "JSON",
             data: { ID: $('#ID').val()},
                success: function (result) {

                    $('#Route').val(result.root.MainRouteID);
              //      $('#SubRoute').val(result.root.SubRouteName);


                    $('#Route').attr("disabled", true)
                    $('#SubRoute').attr("disabled", true)
                    GetData();
                    SaveSubRouteMain();
                            //var Count = 10000;

                            //$("#RootDetails").empty();
                            //$("#RootDetails").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7'> <th> </th><th>Select</th> <th></th> <th>Route</th> <th>City</th><th>Customer Name</th><th>View</th></tr> <tbody>");
                            //$.each(result.root, function (i, Temp) {
                            //


                            //    if (Temp.CustomerName != "") {

                            //        $("#RootDetails").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='cnt" + Count + "'></td> <td><input type='checkbox' id='CHKSelect" + Count + "'></td> <td><input type='hidden' id='ID" + Count + "' readonly  class='ID'' /></td><td><label id='Root" + Count + "'  readonly class='Root'' ></label</td><td><label id='Area" + Count + "' readonly class='Area'' ></label</td><td><label id='CustomerName" + Count + "'  readonly class='CustomerName'' ></label</td> <td><input type ='button' class='btn btn-success' id='btnn1' value='Add' onclick='VendorRootPopup(" + Temp.CustomerID + ")'/></td>   </tr> <tbody>");

                            //        $("#CustomerName" + Count + "").text(Temp.CustomerName);
                            //        $("#Root" + Count + "").text(Temp.Root);
                            //        $("#Area" + Count + "").text(Temp.Area);

                            //        $("#ID" + Count + "").val(Temp.ID);
                            //        $("#cnt" + Count + "").val(Count);
                            //        if (part != "Create") {
                            //            $("#Root").val(Temp.Root);
                            //        }

                            //    }

                            //    Count = Count + 1;




                            //});
                            ////$.each(result.bom, function (i, Temp) {
                            //    var Count = parseInt($('#RouteCount').val());
                            //    $("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td> <input type='text' id='FromCity" + Count + "' readonly  class='FromCity form-control'' /></td><td><input type='text' id='ToCity" + Count + "' readonly class='ToCity form-control'' /></td> <td><input type='text' id='VendorName" + Count + "' readonly class='VendorName form-control'' /><input type='hidden' id='VendorID" + Count + "' readonly class='VendorID form-control'' /></td> <td> <input type='text' id='BomApplicableNew" + Count + "'readonly class='BomApplicableNew form-control'/></td> <td><input type='button' id='edit" + Count + "' onclick='EditRow(" + Count + ")' value='Edit' class='btn btn-success' /> <input type='hidden' id='ID" + Count + "' readonly class='ID form-control'' style='width:0px' /></td><td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' class='btn btn-danger' /></td></tr> <tbody>");

                            //    $("#FromCity" + Count + "").val(Temp.FromCity);
                            //    $("#ToCity" + Count + "").val(Temp.ToCity);
                            //    $("#VendorID" + Count + "").val(Temp.VendorID);
                            //    $("#VendorName" + Count + "").val(Temp.VendorName);
                            //    $("#ID" + Count + "").val(Temp.ID);
                            //    $("#BomApplicableNew" + Count + "").val(Temp.BomApplicable);
                            //        Count = Count + 1;
                            //        $('#RouteCount').val(Count)

                            //});

                        //    AddRoot();
                        //} else {
                        //    toastr.error('Customer Not Found...');
                        //}


                }
            });
    }

    //function SaveData() {
    //    var temp = false;
    //    var list = [];



    //    $('#tblcust tbody tr').each(function (index, e) {
    //        try {

    //            var inputEl = $(e).children().get(0);
    //            var Count = inputEl.firstElementChild.value;
    //            var CheValue = $("#CHKSelect" + Count).is(':checked') ? 1 : 0;

    //            if (CheValue == 1) {

    //                var orderItem = {
    //                    CustomerID: $('#CustomerID' + Count).val(),
    //                    CustomerName: $('#CustomerName' + Count).text(),
    //                }
    //                temp = true;
    //                list.push(orderItem);
    //            }
    //        } catch (ee) {

    //        }
    //    })
    //

    //    if (temp == true) {
    //
    //        var data = {
    //            RootList: list, Root: $('#Root').val(), City: $('#City').val()
    //        }

    //        $.ajax({
    //            type: 'POST',
    //            url: '/SubRouteDetails/SaveRoot',
    //            data: JSON.stringify(data),
    //            contentType: 'application/json',
    //            success: function (result) {
    //
    //                if (result.Message == "success") {
    //                    toastr.success("Records Successfully Saved..");
    //                    GetRootDetails()
    //                    GetCustomer()
    //                }
    //                else {
    //                    toastr.error(result.Message);
    //                }
    //            },

    //        });
    //    } else {
    //        toastr.error('Please Select Data..');
    //    }



    //}

    //function RevertData() {
    //    var temp = false;
    //    var list = [];


    //    $('#RootDetails tbody tr').each(function (index, e) {
    //        try {

    //            var inputEl = $(e).children().get(0);
    //            var Count = inputEl.firstElementChild.value;
    //            var CheValue = $("#CHKSelect" + Count).is(':checked') ? 1 : 0;

    //            if (CheValue == 1) {

    //                var orderItem = {
    //                    ID: $('#ID' + Count).val(),
    //                }
    //                temp = true;
    //                list.push(orderItem);
    //            }
    //        } catch (ee) {

    //        }
    //    })
    //

    //    if (temp == true) {
    //
    //        var data = {
    //            RootList: list, Root: $('#Root').val(), City: $('#City').val()
    //        }

    //        $.ajax({
    //            type: 'POST',
    //            url: '/SubRouteDetails/RevertRootData',
    //            data: JSON.stringify(data),
    //            contentType: 'application/json',
    //            success: function (result) {
    //
    //                if (result.Message == "success") {
    //                    toastr.success("Records Successfully Saved..");
    //                    GetRootDetails()
    //                    GetCustomer()
    //                }
    //                else {
    //                    toastr.error(result.Message);
    //                }
    //            },

    //        });
    //    } else {
    //        toastr.error('Please Select Data..');
    //    }



    //}

    $('#add').click(function () {
        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });

        var isduplicate = false;

        if ($('#SR1').val() == "") {
            toastr.error("Select SR 1");
            isduplicate = true;
        }
        if ($('#SR2').val() == "") {
            toastr.error("Select SR 2");
            isduplicate = true;
        }

        $('#orderdetailsItems tbody tr').each(function (index, e) {
            try {
                var inputEl1 = $(e).children().get(1);
                var SR1 = inputEl1.firstElementChild.value;
               
                var inputEl2 = $(e).children().get(2);
                var SR2 = inputEl2.firstElementChild.value;
               
                var inputEl3 = $(e).children().get(3);
                var SR3 = inputEl3.firstElementChild.value;

                var inputEl4 = $(e).children().get(4);
                var SR4 = inputEl4.firstElementChild.value;

                var inputEl5 = $(e).children().get(5);
                var SR5 = inputEl5.firstElementChild.value;

                var inputEl6 = $(e).children().get(6);
                var SR6 = inputEl6.firstElementChild.value;

                var inputEl7 = $(e).children().get(7);
                var SR7 = inputEl7.firstElementChild.value;

                var inputEl8 = $(e).children().get(8);
                var SR8 = inputEl8.firstElementChild.value;


                var inputEl80 = $(e).children().get(0);
                var SubRouteName = inputEl80.firstElementChild.value;

                debugger


                if (SubRouteName == $('#SubRoute').val() && SR1 == $('#SR1').val() && SR2 == $('#SR2').val() && SR3 == $('#SR3').val() && SR4 == $('#SR4').val() && SR5 == $('#SR5').val() && SR6 == $('#SR6').val() && SR7 == $('#SR7').val() && SR8 == $('#SR8').val()) {
                    isduplicate = true;
                    toastr.error("Record Already Added..");
                }
                //if () {
                //    isduplicate = true;
                //    toastr.error("Sub Route Name Already Added..");
                //}
            } catch (ee) {

            }
        })

        if ($('#SubRoute').val() == "") {
            toastr.error("Enter Sub Route Name");
            isduplicate = true;
        }
        

        if (isduplicate == false) {
            $.preloader.start({
                modal: true,
                src: 'sprites2.png'
            });
            SaveBom()
        } else {
            $.preloader.stop();
        }



        //if (isduplicate == false) {
        //    var lenghtcnt = $('#orderdetailsItems tr').length;

        //    var Count = parseInt($('#RouteCount').val());

        //    //$("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td> <input type='text' id='ComponentNew" + Count + "' readonly  class='ComponentNew form-control'' /></td><td><input type='text' id='QuantityNew" + Count + "' readonly class='QuantityNew form-control'' /></td> <td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' style='width: 85' class='btn btn-danger' /></td><td> <input type='hidden' id='ComponentIdNew" + Count + "' readonly class='ComponentIdNew form-control'' style='width:0px' /><input type='hidden' id='billNoNew" + Count + "' readonly class='billNoNew form-control'' style='width:0px' /></td></tr> <tbody>");
        //    $("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td>"
        //        + " <input type='text' id='SR1" + Count + "' readonly  class='SR1 form-control'' /></td>"
        //        + "<td><input type='text' id='SR2" + Count + "' readonly class='SR2 form-control'' /></td>"
        //        + " <td><input type='text' id='SR3" + Count + "' readonly class='SR3 form-control'' /></td>"
        //        + "<td><input type='text' id='SR4" + Count + "' readonly class='SR4 form-control'' /></td> " +
        //        "<td> <input type='text' id='SR5" + Count + "'readonly class='SR5 form-control'/></td>" +
        //        + " <td><input type='text' id='SR6" + Count + "' readonly class='SR6 form-control'' /></td>"
        //        + "<td><input type='text' id='SR7" + Count + "' readonly class='SR7 form-control'' /></td> " +
        //        "<td> <input type='text' id='SR8" + Count + "'readonly class='SR8 form-control'/></td>" +
        //        " <td><input type='button' id='edit" + Count + "' onclick='EditRow(" + Count + ")' value='Edit' class='btn btn-success' /> <input type='hidden' id='ID" + Count + "' readonly class='ID form-control'' style='width:0px' /></td><td><input type='button' id='" + Count + "' onclick='RemoveRow(" + Count + ")' value='Remove' class='btn btn-danger' /></td></tr> <tbody>");
        //    $("#SR1" + Count + "").val($('#SR1').val());
        //    $("#SR2" + Count + "").val($('#SR2').val());
        //    $("#SR3" + Count + "").val($('#SR3').val());
        //    $("#SR4" + Count + "").val($('#SR4').val());

        //    $("#SR5" + Count + "").val($('#SR5').val());
        //    $("#SR6" + Count + "").val($('#SR6').val());
        //    $("#SR7" + Count + "").val($('#SR7').val());
        //    $("#SR8" + Count + "").val($('#SR8').val());

        //    $("#ID" + Count + "").val(0);




        //    $('#SR1').val('');
        //    $('#SR2').val('');
        //    $('#SR3').val('');
        //    $('#SR4').val('');

        //    $('#SR5').val('');
        //    $('#SR6').val('');
        //    $('#SR7').val('');
        //    $('#SR8').val('');

        //    Count = Count + 1;
        //    $('#RouteCount').val(Count);
        //}

       /* $.preloader.stop();*/


    });


    function SaveBom() {



        var list = [];
        var errorItemCount = 0;

      //  $('#orderdetailsItems tbody tr').each(function (index, ele) {

        var orderItem = {
            SubRouteName: $('#SubRoute').val(),
                SR1: $('#SR1').val(),
                SR2: $('#SR2').val(),
                SR3: $('#SR3').val(),
                SR4: $('#SR4').val(),
                SR5: $('#SR5').val(),
                SR6: $('#SR6').val(),
                SR7: $('#SR7').val(),
                SR8: $('#SR8').val(),
                }
                list.push(orderItem);
       // })
        debugger;
            var data = {
                bomdata: list, RouteMainName: $("#Route option:selected").text(), RouteMainID: $('#Route').val(),
            }
            $(this).val('Please wait...');
            $.ajax({
                type: 'POST',
                url: '/SubRouteDetails/SaveSubRouteDetails',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (result) {
                    $.preloader.stop();
                    if (result.Message == "success") {
                        $('#SubRouteID').val();
                        toastr.success("Successfully saved..");

            $('#SR1').val('');
            $('#SR2').val('');
            $('#SR3').val('');
            $('#SR4').val('');
            $('#SR5').val('');
            $('#SR6').val('');
            $('#SR7').val('');
                        $('#SR8').val('');
                        $('#SubRoute').val('');
                        GetData();
                    }
                    else {
                        toastr.error(result.Message);
                    }

                },
                error: function (error) {
                    alert(error);

                }
            });

    }

    function GetData() {
        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });
        
        $("#orderdetailsItems").empty();
         $.ajax({
                url: '@Url.Action("GetData", "SubRouteDetails")',
                type: "Get",
                dataType: "JSON",
             data: { RouteMainID: $('#Route').val(),},
             success: function (result) {

                 if (result.Message == "success") {

                     $.each(result.lst_subroute, function (i, Temp) {
                         var Count = parseInt($('#RouteCount').val());

                         


                         $("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td>"
                             + " <input type='text' id='SubRoute" + Count + "' readonly  class='SubRoute form-control'' /></td>"
                             + " <td><input type='text' id='SR1" + Count + "' readonly  class='SR1 form-control'' />" +
                             "<input type='hidden' id='SubID" + Count + "' readonly  class='SR1 form-control'' />" + 

                             "</td>"
                             + "<td><input type='text' id='SR2" + Count + "' readonly class='SR2 form-control'' /></td>"
                             + " <td><input type='text' id='SR3" + Count + "' readonly class='SR3 form-control'' /></td>"
                             + "<td><input type='text' id='SR4" + Count + "' readonly class='SR4 form-control'' /></td> "
                             + "<td> <input type='text' id='SR5" + Count + "'readonly class='SR5 form-control'/></td>"
                             + "<td><input type='text' id='SR6" + Count + "' readonly class='SR6 form-control'' /></td>"
                             + "<td><input type='text' id='SR7" + Count + "' readonly class='SR7 form-control'' /></td> "
                             + "<td> <input type='text' id='SR8" + Count + "'readonly class='SR8 form-control'/></td>"
                             //+ " <td><input type='button' id='edit" + Count + "' onclick='EditRow(" + Count + ")' style='display:none' value='Edit' class='btn btn-success' /> </td>"
                             + " <td><button type='button' id=" + Count + "  class='btn btn-primary btn-sm mr-2' onclick='CustomerPopUp(" + Count + ");'><i class='fa fa-plus'></i></button></td>"


                             + "<td><input type='hidden' id='ID" + Count + "' readonly class='ID form-control'' style='width:0px' /><input type='button' id='" + Count + "' onclick='RemoveRow(" + Count + ")' value='Remove' class='btn btn-danger' /></td></tr> <tbody>");


                         $("#SubID" + Count + "").val(Temp.ID); 

                         $("#SubRoute" + Count + "").val(Temp.SubRouteName);
                         $("#SR1" + Count + "").val(Temp.SR1);
                         $("#SR2" + Count + "").val(Temp.SR2);
                         $("#SR3" + Count + "").val(Temp.SR3);
                         $("#SR4" + Count + "").val(Temp.SR4);

                         $("#SR5" + Count + "").val(Temp.SR5);
                         $("#SR6" + Count + "").val(Temp.SR6);
                         $("#SR7" + Count + "").val(Temp.SR7);
                         $("#SR8" + Count + "").val(Temp.SR8);

                         $("#ID" + Count + "").val(Temp.ID);
                         Count = Count + 1;
                         $('#RouteCount').val(Count)

                     });

                     /*AddRoot();*/
                 } else {
                     toastr.error('Customer Not Found...');
                 }

                 $.preloader.stop();
             }
            
            });


    }

    function EditRow(Count)
    {

        $('#SR1').val($('#SR1' + Count).val())
        $('#SR3').val($('#SR3' + Count).val())
        $('#SR2').val($('#SR2' + Count).val())
        $('#SR4').val($('#SR4' + Count).val())
        $('#SR5').val($('#SR5' + Count).val())
        $('#SR6').val($('#SR6' + Count).val())
        $('#SR7').val($('#SR7' + Count).val())
        $('#SR8').val($('#SR8' + Count).val())
      //  $('#SR2').val($('#SR2' + Count).val())

        $('#SubRouteID').val($('#ID' + Count).val())
     //   $("#R" + Count + "").remove();
    }


    function RemoveRow(Count) {


        var result = confirm("Are You Sure You Want to delete?");
        if (result == true) {


            var SubDetailsID = $('#ID' + Count).val();
            $.ajax({
                url: '@Url.Action("RemoveSubRoute", "SubRouteDetails")',
                type: "Get",
                dataType: "JSON",
                data: { ID: SubDetailsID },
                success: function (result) {

                    if (result.Message == "success") {
                        toastr.success('Successfully  Deleted..');
                        GetData();
                    } else {
                        toastr.error(result.Message);
                    }
                }
            });
        }


    }

    @*function VendorRootPopup(CustomerID)
    {

        $('#CustomerName').text('');

        $('#CustomerID').val(CustomerID);
        $.ajax({
                url: '@Url.Action("GetCustomerVendorRootDetails", "SubRouteDetails")',
                type: "Get",
                dataType: "JSON",
            data: { CustomerID: CustomerID , Root: $('#Root').val()},
                success: function (result) {

                        if (result.bom.Count != 0) {
                            var Count = 10000;
                            var url = window.location.href;
                            var part = url.substring(url.lastIndexOf('/') + 1);
                            $('#CustomerName').text(result.CustName);

                            $.each(result.bom, function (i, Temp) {
                                var Count = parseInt($('#RouteCount').val());
                                $("#orderdetailsItems").append(" <tbody> <tr id='R" + Count + "'> <td> <input type='text' id='FromCity" + Count + "' readonly  class='FromCity form-control'' /></td><td><input type='text' id='ToCity" + Count + "' readonly class='ToCity form-control'' /></td> <td><input type='text' id='VendorName" + Count + "' readonly class='VendorName form-control'' /><input type='hidden' id='VendorID" + Count + "' readonly class='VendorID form-control'' /></td> <td> <input type='text' id='BomApplicableNew" + Count + "'readonly class='BomApplicableNew form-control'/></td> <td><input type='button' id='edit" + Count + "' onclick='EditRow(" + Count + ")' value='Edit' class='btn btn-success' /> <input type='hidden' id='ID" + Count + "' readonly class='ID form-control'' style='width:0px' /></td><td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' class='btn btn-danger' /></td></tr> <tbody>");

                                $("#FromCity" + Count + "").val(Temp.FromCity);
                                $("#ToCity" + Count + "").val(Temp.ToCity);
                                $("#VendorID" + Count + "").val(Temp.VendorID);
                                $("#VendorName" + Count + "").val(Temp.VendorName);
                                $("#ID" + Count + "").val(Temp.ID);
                                $("#BomApplicableNew" + Count + "").val(Temp.BomApplicable);
                                    Count = Count + 1;
                                    $('#RouteCount').val(Count)

                            });

                            /*AddRoot();*/
                        } else {
                            toastr.error('Customer Not Found...');
                        }


                }
            });

        $("#ProductDetailsModels").modal("show");
    }*@

    function BindDropdown(ID) {

        var number = ID.match(/\d+/);
        number =parseInt( number )+ 1;
        var ddlArray = new Array();
        var ddl = document.getElementById(ID);
        for (i = 0; i < ddl.options.length; i++) {
            if (ddl.options[i].value == "" || ddl.options[i].value == $('#'+ID).val()) {

            } else {
                ddlArray[i] = ddl.options[i].value;
            }
        }
        $("#SR"+number).empty();
        $("#SR" + number).append("<option value=''>Select SR "+number+"</option>");
        $.each(ddlArray, function (i, val) {

            if (ddlArray[i] != undefined) {
                $("#SR" + number).append("<option value='" + ddlArray[i] + "'>" + ddlArray[i] + "</option>");
            }
        });

    }





    function CustomerPopUp(ID) {

       

        $('#SubID').val($('#SubID'+ID).val()); 
        $('#SubRouteNAmes').val($('#SubRoute' + ID).val());
        $("#myModal").modal("show");
        GetSubCustomer()
    }

    function GetSubCustomer() {
        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });
        
         $.ajax({
            type: "GET",
            url: '@Url.Action("GetSubCustomer", "SubRouteDetails")',
            data: { ID: $('#SubID').val() },
            dataType: "json",
            success: function (result)
            {
                $("#CustomerOrderList").empty();
              //  $("#Location").append("<option value=''>Select</option>");
              //  var Count = 1
                $("#CustomerOrderList").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7' > <th>Location</th> <th>Customer Code</th><th>Customer Name</th><th></th></tr> <tbody>");
                $.each(result.CustData, function (i, val) {

                    debugger;
                  var  Count = $('#SubCustCOunt').val();
                  //  $("#Location").append("<option value='" + val.Area + "'>" + val.Area + "</option>");
                    $("#CustomerOrderList").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /><label id='Area" + Count + "' style='width:120px' readonly class='Area'' ></label></td><td><input type='hidden' id='ID" + Count + "' readonly  class='ID'' /><label id='CustomerCode" + Count + "' style='width:65px' readonly class='CustomerCode'' ></label></td><td ><label id='CustomerName" + Count + "' style='width:150px' readonly class='CustomerName'' ></label></td>  <td><button type='button' id=" + Count + "  class='btn btn-danger btn-sm mr-2' onclick='RemoveCustData(" + Count +");'><i class='fa fa-trash'></i></button></td>   </tr> <tbody>");


                    $('#cnt' + Count).val(Count);
                    $('#CustomerID' + Count).val(val.CustomerID);
                    $('#CustomerCode' + Count).text(val.CustID);
                    $('#CustomerName' + Count).text(val.CustName);
                    $('#Area' + Count).text(val.Location);
                    $('#ID' + Count).val(val.ID);
                    Count =parseInt(Count)+ 1;
                    $('#SubCustCOunt').val(Count);

                });


                $.preloader.stop();
            },
            failure: function (response) {
                $.preloader.stop();
                /*alert(response.d);*/
            },
            error: function (err) {
                $.preloader.stop();
                /*alert(err.statusText);*/
            }
        });
    }

    function GetCustomers() {
        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });
         $.ajax({
            type: "GET",
           url: '@Url.Action("GetLocations", "CustomerOrder")',
            data: { SHORTNAME: $('#ShortName').val() },
            dataType: "json",
            success: function (tbldata)
            {
                $("#CustomerName").empty();
                $("#CustomerName").append("<option value=''>Select</option>");
                var Count = 1
              //  $("#CustomerOrderList").append("<tbody> <tr bgcolor='#7eb533' style='color: #FBF8F7' > <th></th> <th>Customer Code</th><th>Customer Name</th></tr> <tbody>");
                $.each(tbldata, function (i, val) {

                    debugger;
                    $("#CustomerName").append("<option value='" + val.ID + "'>" + val.CustName + "</option>");

                });

                $.preloader.stop();
            },
            failure: function (response) {
                $.preloader.stop();
                /*alert(response.d);*/
            },
            error: function (err) {
                $.preloader.stop();
                /*alert(err.statusText);*/
            }
        });
    }

    @*function AddData() {
         $.ajax({
            type: "GET",
           url: '@Url.Action("GetLocations", "CustomerOrder")',
             data: { SHORTNAME: $('#ShortName').val() ,CustomerID: $('#CustomerName').val() ,},
            dataType: "json",
            success: function (tbldata)
            {
                $("#CustomerName").empty();
                $("#CustomerName").append("<option value=''>Select</option>");
                var Count = 1
                $.each(tbldata, function (i, val) {
                    $("#CustomerName").append("<option value='" + val.ID + "'>" + val.CustName + "</option>");
                });

                $.preloader.stop();
            },
            failure: function (response) {
                $.preloader.stop();
                /*alert(response.d);*/
            },
            error: function (err) {
                $.preloader.stop();
                /*alert(err.statusText);*/
            }
        });
    }*@

    function AddData() {

        var temp = true;
        if ($('#ShortName').val == "") {
            temp = false;
            toastr.error("Please select Short Name...")
        }
        if ($('#CustomerName').val == "") {
            temp = false;
            toastr.error("Please selectCustomer Name...")
        }
      
        $('#CustomerOrderList tbody tr').each(function (index, e) {
            try {
                var inputEl1 = $(e).children().get(0);
                var SR1 = inputEl1.firstElementChild.value;

                if (SR1 == $('#CustomerName').val()) {
                    temp = false;
                    toastr.error("Record Already Added..");

                }
            } catch (ee) {

            }
        })

        if (temp == true) {

            debugger;
          var  Count = $('#SubCustCOunt').val();
            $("#CustomerOrderList").append(" <tbody> <tr id='R" + Count + "'><td><input type='hidden' id='CustomerID" + Count + "' readonly  class='CustomerID'' /><label id='Area" + Count + "' style='width:120px' readonly class='Area'' ></label></td><td><input type='hidden' id='ID" + Count + "' readonly  class='ID'' /><label id='CustomerCode" + Count + "' style='width:65px' readonly class='CustomerCode'' ></label></td><td ><label id='CustomerName" + Count + "' style='width:150px' readonly class='CustomerName'' ></label></td>  <td><button type='button' id=" + Count + "  class='btn btn-danger btn-sm mr-2' onclick='RemoveCustData(" + Count + ");'><i class='fa fa-trash'></i></button></td>   </tr> <tbody>");

            $('#CustomerID' + Count).val($('#CustomerName').val());
            $('#CustomerCode' + Count).text('');
            $('#CustomerName' + Count).text($('#CustomerName option:selected').text());
            $('#Area' + Count).text('');
            $('#ID' + Count).val(0);
            Count = Count + 1;
            $('#SubCustCOunt').val(Count);
            $('#CustomerName').val('');



        }


    }


    function RemoveCustData(Count) {

        var result = confirm("Are You Sure You Want to delete?");
        if (result == true) {

            var SubDetailsID = $('#ID' + Count).val();
            if (SubDetailsID == 0) {
                $("#R" + Count + "").remove();
            } else {
                $.ajax({
                    url: '@Url.Action("RemoveSubRouteCustomer", "SubRouteDetails")',
                    type: "Get",
                    dataType: "JSON",
                    data: { ID: SubDetailsID },
                    success: function (result) {

                        if (result.Message == "success") {
                       //     $("#R" + Count + "").remove();
                            toastr.success('Successfully  Deleted..');
                            GetSubCustomer();
                        } else {
                            toastr.error(result.Message);
                        }
                    }
                });
            }
        } else {
            return false;
        }

    }

    function SaveSubCustomers() {
        $.preloader.start({
            modal: true,
            src: 'sprites2.png'
        });
        var SubID = $('#SubID').val();
        alert(SubID)
        var SubRouteNAmes = $('#SubRouteNAmes').val();
        var LST = [];
        $('#CustomerOrderList tbody tr').each(function (index, e) {
            try {
                var inputEl = $(e).children().get(0);
                var SR1 = inputEl.firstElementChild.value;

                var inputEl1 = $(e).children().get(1);
                var SR2 = inputEl1.firstElementChild.value;
              //  alert(SR2)


                var order={
                    CustomerID: SR1,
                    SubRouteID: SubID,
                    SubRouteName: SubRouteNAmes,
                    RouteMainID : $('#Route').val(),
                    ID: SR2
                }
                LST.push(order)

            } catch (ee) {

            }
        })
        var data = {
            recs: LST
        }

        debugger
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/SubRouteDetails/SaveSubRouteCustomers",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Message == "success") {
                    toastr.success("Records Saved Succesfully");
                  //  GetSubCustomer();
                    $("#myModal").modal("hide");
                    $('#CustomerOrderList').empty();
                    $.preloader.stop();
                }
                else {
                    toastr.error(result.Message);
                    $.preloader.stop();
                }
                $.preloader.stop();
            }
        });
    }

</script>

