@model Micraft.ManeGrowAgro.Models.ZonesMaster

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-2 col-md-2 col-12">
                <h5 class="text-dark mr-2"><b>Zone Master</b></h5>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new
                        {
                            @id = "form0",
                            @class = "form-horizontal",
                            enctype = "multipart/form-data",
                            role = "form",
                            data_bv_message = "This value is not valid",
                            data_toggle = "validator",
                            data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                            data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                            data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-horizontal">

                                @Html.HiddenFor(model => model.ID)
                              


                                <div class="col-md-4 col-12 mb-3">
                                    @Html.LabelFor(model => model.Zone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.Zone, new { htmlAttributes = new { @class = "form-control", Autocomplete = "off", data_bv_notempty = "true", data_bv_notempty_message = "Zone is required and cannot be empty", required = "required", Onchange = "CheckDuplicate()" } })
                                </div>

                                <div class="col-12 mb-3">
                                    <label>IsActive</label><br>
                                    <label class="switch">
                                        <input type="checkbox" checked id="IsActive">
                                        <span class="slider round"></span>
                                    </label>

                                </div>


                                <div class="col-md-8">
                                    <input type="button" id="Update" value="Update" class="btn btn-primary" onclick="CheckVal(event);" />&nbsp;&nbsp;
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                </div>

                            </div>
                         }

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        debugger;
        $("#form0").bootstrapValidator();

        var tEMP = '@TempData["success"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Success!", tEMP, "success");
        }
        var tEMP = '@TempData["error"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Error!", tEMP, "error");
        }
        

    });




    $("#Update").click(function () {
        var Zone = $("#Zone").val();
        var IsActive = true;
        if ($('#IsActive').is(":checked")) {
            IsActive = true;
        } else {
            IsActive = false;
        }
        if (Zone == null || Zone == "") {
            swal("Error", "Product type is required", "success");
            return;
        }

        var ID = $("#ID").val();
        var records = {
            "ID": ID,
            "Zone": Zone,
            "IsActive": IsActive
        };
        $.ajax({
            url: "/ZonesMasters/UpdateRecord",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(records),
            contentType: "Application/json",
            success: function (result) {
                swal("Success", "Record Added Success", "success");
                if (result.Message == "success") {
                    swal("success", "Record Updated Success", "success");
                    window.location.href = '/ZonesMasters/Index/';

                } else {
                    swal("Error", "Something went wrong while updating record", "error");
                }
            },
            error: function (ex) {
                console.log("error");
                console.log(ex);
            }
        });
    });

     function CheckDuplicate() {
        debugger;
         var Zone = $("#Zone").val();
        $.ajax({
            url: '@Url.Action("CheckDuplicate", "ZonesMasters")',
            type: "GET",
            dataType: "JSON",
            data: { Zone: Zone, Mode: "Create", ID: 0 },
            success: function (result) {
                try {
                    if (result == "1") {
                        $("#Zone").val("");
                        $("#form0").bootstrapValidator('revalidateField', 'Zone');
                        toastr.error("Zone already exist");
                    }
                    else if (result == "0") {

                    }
                    else {
                        toastr.error(result);
                    }
                }
                catch (e) {

                }
            }
        });
    }

</script>